
/**
    Checkboxes (Enabled)
 */

tr[id^="post-"] input.the-guide-enabled {
    background: transparent;
}


tr[id^="post-"] input.the-guide-enabled {
    border: 0;
    opacity: 1;
    box-shadow: none;
    cursor: default;
}


tr[id^="post-"] input.the-guide-enabled:checked:before {
    opacity: 1;
    color: green;
}â€
