table {
    border-collapse: collapse;
}
    .the-guide-td-checkbox {
        cursor: pointer;
    }

.the-guide-flex-container {
    display: flex;
    margin-top: 15px;
}
    .the-guide-flex-item-button {
        display: flex;
        justify-content: center;
    }

    .the-guide-flex-item-table {
        text-align: center;
    }



.the-guide-submit-button {
    position: fixed;
}



body {
    overflow-x: auto !important;
}

#wpadminbar {
    position: fixed !important;
}



ol {
    text-align: left !important;
}

td, th {
    padding: 4px;
    border: 2px solid white;
}


.the-guide-id-and-delete-container {
    position: relative;
}

    .the-guide-delete-the-tour-button {
        position: absolute;
        background-color: Transparent;
        border: none;
        font-weight: bold;
        width: 1em;
        height: 1.5em;
        padding: 0 !important;
        top: 0;
        right: 0;
    }

.the-guide-button-delete-this-tour,
.the-guide-button-go-back {
    margin: 7px !important;
    margin-top: 10px !important;
}


.the-guide-hidden {
    display: none;
}