@charset "UTF-8";
/*
* YOU SHOULD KNOW WHAT YOU ARE DOING !!!
*
* You can get the default styles again – just delete everything here, and it will be restored to the default state.
*/
#the-guide {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

#the-guide * {
  box-sizing: border-box;
  line-height: 24px;
}

#the-guide .the-guide-floating-block {
  /* Better don't edit this "position" */
  position: fixed;
  /*
  * The default position of the element.
  * You can set up positions on the settings page.
  */
  bottom: 2%;
  right: 2%;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #fff;
  font-size: 16px;
  height: 175px;
  width: 275px;
  overflow-x: hidden;
  z-index: 999;
}

#the-guide .the-guide-floating-block-container {
  display: block;
  position: relative;
  height: 100%;
}

#the-guide .the-guide-floating-block-content {
  display: block;
  padding: 4px;
  height: 137px;
  font-size: 16px;
  overflow-y: auto;
}

#the-guide .the-guide-floating-block-button-container {
  display: block;
  height: 35px;
  text-align: center;
}

#the-guide .the-guide-floating-block-button {
  width: 125px;
  height: 100%;
  padding: 1px;
  font-size: 12px;
}

#the-guide input[type=button] {
  background-color: #212121;
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

#the-guide input[type=button]:hover {
  background-color: #2d2d2d;
}

#the-guide #the-guide-modal-floating {
  /* Better don't edit this "position" */
  position: fixed;
  /* The default position of the element. */
  top: 7.5%;
  left: 3.5%;
  width: 300px;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1001;
}

#the-guide #the-guide-modal-floating .the-guide-modal-floating-container {
  position: relative;
  display: block;
  height: 100%;
}

#the-guide #the-guide-modal-floating .the-guide-modal-floating-current-elem {
  display: block;
  text-align: center;
  height: 23px;
  font-size: 16px;
}

#the-guide #the-guide-modal-floating .the-guide-modal-floating-content {
  display: block;
  height: 145px;
  font-size: 16px;
  overflow-y: auto;
}

#the-guide #the-guide-modal-floating .the-guide-modal-floating-buttons {
  display: block;
  position: relative;
  height: 30px;
}

#the-guide #the-guide-modal-floating #the-guide-modal-floating-button-prev {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 100%;
  font-size: 12px;
  padding: 1px;
}

#the-guide #the-guide-modal-floating #the-guide-modal-floating-button-next {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 100%;
  font-size: 12px;
  padding: 1px;
}

#the-guide #the-guide-modal-next-to-the-elem {
  position: absolute;
  width: 500px;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1001;
}

#the-guide #the-guide-modal-next-to-the-elem .the-guide-modal-next-to-the-elem-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

#the-guide #the-guide-modal-next-to-the-elem .the-guide-modal-next-to-the-elem-current-elem {
  position: absolute;
  text-align: left;
  font-size: 16px;
  left: 5px;
  font-weight: bold;
  color: whitesmoke;
  z-index: 2;
  padding: 2px;
}

#the-guide #the-guide-modal-next-to-the-elem .the-guide-modal-next-to-the-elem-button-prev-container {
  flex-basis: 17.5%;
  height: 100%;
  width: 100%;
}

#the-guide #the-guide-modal-next-to-the-elem #the-guide-modal-next-to-the-elem-button-prev {
  height: 100%;
  min-width: 100%;
  font-size: 12px;
  padding: 0;
}

#the-guide #the-guide-modal-next-to-the-elem .the-guide-modal-next-to-the-elem-content {
  flex-basis: 65%;
  padding: 2px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow-y: auto;
}

#the-guide #the-guide-modal-next-to-the-elem .the-guide-modal-next-to-the-elem-button-next-container {
  flex-basis: 17.5%;
  height: 100%;
  width: 100%;
}

#the-guide #the-guide-modal-next-to-the-elem #the-guide-modal-next-to-the-elem-button-next {
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding: 0;
}
