plugin


webpack		the-guide.dev.js			the-guide.js			public/scripts/
webpack		custom-css.dev.js			custom-css.js			public/scripts/

webpack		menu-customize.dev.js			menu-customize.js		admin/scripts/
webpack		add-edit-tour.dev.js			add-edit-tour.js		admin/scripts/
webpack		tours-list-table.dev.js			tours-list-table.js		admin/scripts/


webpack		main.dev.css			        main.css			public/styles/

webpack		menu-customize.dev.css			menu-customize.css		admin/styles/
webpack		add-edit-tour.dev.css			add-edit-tour.css		admin/styles/
webpack		tours-list-table.css			tours-list-table.css		admin/styles/


# Libraries


## babel-polyfill

copy		[m]/@babel/polyfill/dist/polyfill.min.js	libs/babel-polyfill/babel-polyfill.js

## CodeMirror

install 	codemirror


uglifyjs	[m]/codemirror/lib/codemirror.js	libs/codemirror/codemirror.js
uglifyjs	[m]/codemirror/mode/css/css.js		libs/codemirror/css.js

webpack		[m]/codemirror/lib/codemirror.css	libs/codemirror/codemirror.css
