plugin


webpack		the-guide.dev.js			the-guide.js			public/scripts/
webpack		custom-css.dev.js			custom-css.js			public/scripts/
webpack		dashboard-menu-customize.dev.js		dashboard-menu-customize.js	admin/scripts/

webpack		main.dev.css			        main.css			public/styles/
webpack		dashboard-menu-customize.dev.css	dashboard-menu-customize.css	admin/styles/


# Libraries


## babel-polyfill

copy		[m]/@babel/polyfill/dist/polyfill.min.js	libs/babel-polyfill/babel-polyfill.js

## CodeMirror

install 	codemirror


uglifyjs	[m]/codemirror/lib/codemirror.js	libs/codemirror/codemirror.js
uglifyjs	[m]/codemirror/mode/css/css.js		libs/codemirror/css.js

webpack		[m]/codemirror/lib/codemirror.css	libs/codemirror/codemirror.css
