
substitute	define( 'DEV_MODE', true )	    define( 'DEV_MODE', false )		the-guide.php


webpack		the-guide.dev.js			the-guide.js			public/scripts/
webpack		dashboard-menu-controller.dev.js	dashboard-menu-controller.js	admin/scripts/
webpack		dashboard-menu-settings.dev.js	    	dashboard-menu-settings.js	admin/scripts/
webpack		dashboard-menu-customize.dev.js		dashboard-menu-customize.js	admin/scripts/

webpack		dashboard-menu-controller.dev.css	dashboard-menu-controller.css	admin/styles/
webpack		dashboard-menu-customize.dev.css	dashboard-menu-customize.css	admin/styles/
webpack		dashboard-menu-settings.dev.css		dashboard-menu-settings.css	admin/styles/


# Libraries


## babel-polyfill

copy		[m]/@babel/polyfill/dist/polyfill.min.js	libs/babel-polyfill/babel-polyfill.js

## CodeMirror

install 	codemirror


uglifyjs	[m]/codemirror/lib/codemirror.js	libs/codemirror/codemirror.js
uglifyjs	[m]/codemirror/mode/css/css.js		libs/codemirror/css.js

webpack		[m]/codemirror/lib/codemirror.css	libs/codemirror/codemirror.css
